@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar styles */
.scrollable {
  scrollbar-gutter: stable both-edges; /* Ensures space for scrollbar */
}

::-webkit-scrollbar {
  width: 12px;
  opacity: 0; /* Initially hidden */
  transition: opacity 0.3s ease-in-out; /* Smooth transition */
}

.scrollable:hover ::-webkit-scrollbar {
  opacity: 1; /* Show scrollbar on hover */
}

::-webkit-scrollbar-track {
  background: #2d2d2d; /* Darker background for the track */
}

::-webkit-scrollbar-thumb {
  background-color: #646cff; /* Lighter color for the thumb */
  border-radius: 6px;
  border: 3px solid #2d2d2d; /* Adds space around the thumb */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #4a4aff; /* Even lighter color on hover */
}
.search-highlight {
  background-color: rgba(255, 255, 0, 0.2);
  border-bottom: 1px solid rgba(255, 255, 0, 0.5);
  border-radius: 2px;
  padding: 0 2px;
}
