name: Test Simple Workflow

on:
  workflow_dispatch:
    inputs:
      test:
        description: 'Test'
        required: false
        type: string

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Echo
        run: echo "Test input: ${{ inputs.test }}"
